{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react", "@typescript-eslint", "simple-import-sort"],
  "rules": {
    "class-methods-use-this": "off",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-non-null-assertion": "error",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-var-requires": "off",
    "no-console": [
      "error",
      {
        "allow": ["warn", "error"]
      }
    ],
    "react/jsx-filename-extension": ["error", { "extensions": [".test.js", ".tsx"] }],
    "no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["draft"] }],
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "import/order": "off"
  },
  "overrides": [
    {
      // enable the rule specifically for TypeScript files
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "@typescript-eslint/explicit-module-boundary-types": ["error"]
      }
    }
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}